@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f2ed;
}

ul li{
    display: inline-block;
    padding: 1em;
}

ul a {
    padding: 0.4em;
    text-decoration: none;
    color: rgb(151, 151, 52);
}

hr {
    border-color: red;
}

#container {
    width: 70%;
    margin: 0 auto;
}

#menu {
    width: 500px;
    margin: 0px auto;
}

#conteudo {
    margin: 0 auto;
    width: 65%;
    margin-right: 15%;
}

#imagens-conteudo {
    padding-top: 2%;
    margin: 0 auto;
}

#img-coracao {
    margin-top: 10%;
    margin-left: 39%;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    color: gray;
    margin-right: 9%;
}

#conteudo-foto-recado {
    width: 500px;
    text-align: right;
    margin-top: 5em;
    margin-left: 30%;
}

#paragrafo-recado {
    float: left;
    font-size: 1.5em;
    border-bottom: 1px solid brown;
    color: brown;
    padding: 0.1em;
    text-align: right;
}

#conteudo-escrito {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#paragrafo1 {
    margin-left: 48%;
    margin-top: 10%;
    padding-bottom: 2%;
    
}

#paragrafo2 {
    margin-top: 5%;
    padding-bottom: 2%;
}

#paragrafo3 {
    margin-left: 47%;
    margin-top: 5%;
    padding-bottom: 2%;
}

#paragrafo4 {
    margin-top: 5%;
    padding-bottom: 2%;
}

#paragrafo5 {
    margin-left: 49%;
    margin-top: 5%;
    padding-bottom: 2%;
}

#paragrafo6 {
    margin-top: 5%;
    padding-bottom: 2%;
}

#rodape {
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    background-color: #a62a2a;
    height: 100%;
}

.bolinha {
    color: green;
    font-size: 1.5em;
}

/*NAVEGAÇÃO*/
a:hover {
    background-color: #a62a2a;
}