@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    display: inline-block;
    padding: 1em;
}

ul a {
    padding: 0.4em;
    text-decoration: none;
    color: rgb(151, 151, 52);
}

#container {
    width: 70%;
    margin: 0 auto;
}

#menu {
    width: 500px;
    margin: 0px auto;
}

#conteudo {
    margin: 0 auto;
    width: 60%;
    margin-right: 18%;
}

#imagens-conteudo {
    padding-top: 2%;
    margin: 0 auto;
}

#img-coracao {
    margin-top: 10%;
    margin-left: 40%;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    color: gray;
}

#foto-e-recado {
    width: 500px;
    text-align: right;
    margin-top: 5em;
    margin-left: 30%;
}

#paragrafo-recado {
    float: left;
    font-size: 24px;
    border-bottom: 1px solid brown;
    color: brown;
    padding: 0.1em;
    text-align: right;
}

#paragrafo1 {
    margin-left: 40%;
    margin-top: 10%;
    border-bottom: 1px solid red;
}

#paragrafo2 {
    margin-top: 5%;
}

#paragrafo3 {
    margin-left: 50%;
    margin-top: 5%;
}

#paragrafo4 {
    margin-top: 5%;
}

#paragrafo5 {
    margin-left: 50%;
    margin-top: 5%;
}

#paragrafo6 {
    margin-top: 5%;
}

#rodape {
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    background-color: red;
    height: 100%;
}





a:hover {
    background-color: blue;
}